/*overall body of the html*/
body
{
	background-color:#FFFFED;
}
header 
{
	background-color:#ABD4AB;
}
caption 
{
	font-style: italic;
	font-size: 25px;
	color:white;
}
button
{
	border-radius:360px;
	cursor: pointer;
	background-color:transparent;
	border:white;
}
p.submit
{
	color:#7AA027;
	text-align:center;
}
/*navigation bar for all pages*/
.nav
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	color:white;
}
.nav th {
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color:white;
}
.nav a 
{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color:white;
}

/* Change the color of links on hover */
.nav th:hover 
{
	background-color: #FFA7A0;
	border-radius: 25px;
	color:white;
}

/* Add a color to the active/current link */
.nav th.active
{
	border-radius: 25px;
	border: 2px solid #FFA7A0;
	color:white;
}
/*starting up the home page*/
h2
{
	padding-top:45px;
	text-align:center;
	color:#7AA027;
	text-decoration:underline;
	font-weight:bold;
}
img.pfp
{
	width:45%;
	height:auto;
	padding:50px;
	border-radius:50px;
}
.banners div {
	display: block;
	margin: 0 auto;
}
.bannerimg
{
	margin-left: auto;
	margin-right: auto;
}
/*for the products page*/
.products
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height:500px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color:#7AA027;
}
.products th
{
	padding: 20px;
	font-weight:normal;
	position:relative;
}
.products span.category
{
	text-decoration:underline;
	font-size: 100%;  
}
.products span.categories
{
	font-size: 75%;
}
/*This is for the product images and resize them to an appropriate size*/
.products img.productimg
{
	width:80%;
	height:auto;
	border-radius: 50px;
	border: 20px solid #FFA7A0;
}
/*editing the size of the button for the shopping cart*/
.basket
{
	border-radius:180px;
	cursor: pointer;
	background-color:#FFFFED;
	border:white;
	margin: 4px;
	width:25%;
	height:auto;
}/*settig the position of the .basket... might have to change this later*/
.products th .basket
{
	position:absolute;
	top:52%;
	right:53px;
	opacity:0.6;
	transition: 0.3s;
}
/*the action of hovering over the button for the shopping basket*/
.products th .basket:hover
{
	position:absolute;
	width:28%;
	opacity:1;
	transition:0.3s;
}
/*when hovered, it gradually fades to show the shop button more*/

/*for the commission page*/
.commissions
{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height:500px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color:#7AA027;
}
p.cprices
{
	text-align:center;
	color:#7AA027;
}
.commissions img.commissionsimg
{
	width:60%;
	border-radius: 50px;
	border: 20px solid #FFA7A0;
}
button.basic
{
	border-radius:25px;
	cursor: pointer;
	background-color:#FF564D;
	color: white;
	padding: 32px;
	text-align: center;
	border:white;
	display: inline-block;
	font-size: 25px;
	margin: 4px;
}
div.list
{
	text-align:center;
	font-size: 5px;
}
/*for the subscribe page*/
p.subscribe
{
	text-align:center;
	color:#7AA027;
	padding:25px;
}
/*FAQ PAGE*/
.ui-accordion .ui-accordion-header.ui-state-active
{
	border:none;
	color:#FFA7A0;
	text-decoration:underline;
}
.ui-accordion .ui-accordion-header.ui-state-default
{
	font-family:Times New Roman;
	font-weight:bold;
	font-size:125%;
	border:none;
	color:#FFA7A0;
	background-color:#FFFFED;
	width:80%;
}
.q, .a
{
	font-family:Times New Roman;
	position: relative;
	left: 100px;
	width:80%;
	font-size: 17px;
	color:#627F1F;
}
.a
{
	left:125px;
}
/*the contact page*/
p.contact
{
	text-align:center;
	color:#7AA027;
	padding:25px;
}
#question
{
	height:150px;
	width:30%;
}
form
{
	text-align:center;
	color:#627F1F;
}
/*the footer for all pages*/
footer
{
	text-align: center;
	background-color:#ABD4AB;
	color:white;
}
.foot
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color:white;
}

.foot th 
{
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 15px;
}
.foot a 
{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color:white;
}
/* Change the color of links on hover */
.foot th:hover {
	background-color: #FFA7A0;
	border-radius: 25px;
}

/* Add a color to the active/current link */
.foot th.active {
	border-radius: 25px;
	border: 2px solid #FFA7A0;
}
.about
{
	text-decoration:underline;
	font-weight:bold;
}
/*altering the starter image*/
.pfp
{	
	padding: 14px 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:15%;
	height:15%;
}
/*pop up plugin*/
img.popup
{
	width:75%;
	height:50%;
	border-radius:180px;
}
h2.popup
{
	padding-top:0px;
}
#mask 
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
	opacity:0.6;
}

#boxes .window 
{
	position: absolute;
	left: 0;
	top: 0;
	width: 440px;
	height: 200px;
	display: none;
	z-index: 9999;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
}

#boxes #dialog 
{
	width: 750px;
	height: 500px;
	background-color: #FFFFED;
	font-size: 15pt;
}

#popupfoot 
{
	font-size: 16pt;
	bottom:10px;
	position: absolute;
	width: 250px;
	left: 250px;
}
